html,body{
    background-color:#010B19;
}

.logo img{
    height: 14vh;
    width: 12vw;
    margin-left: 20px;
    margin-top: 30px;
}

nav ul{
    position: absolute;
    top:18px;
    width: 90%;
    list-style: none;
    display: flex;
    justify-content:end;
    align-items: end;
    }
    
nav a{
    margin-right: 15px;
    margin-top: 30px;
    height: 100%;
    padding:9px 15px;
    border-radius: 55px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
}
    
    .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width:50vw;
    z-index: 999;
    color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: -10px rgba(255, 255, 255, .2);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
    .sidebar li{
    width: 100%;
    }
    
    .sidebar a{
    width: 100%;
    }
    
    .menu-button {
    display: none;
    }
    @media(max-width: 800px){
    .hideOnMobile{
    display: none;
    }
    .menu-button{
    display: block;
    }
    }
    
    @media(max-width: 400px){
    .sidebar{
    width: 100%;
    }
    }
    
    
    nav a.active {
    border-bottom: 2px solid white;
    color: #ffffff;
    }

    .message {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom:130px;
    }
    
    #text {
        position: relative;
        font-size: 7vw;
        color: #fff;
        align-items: center;
        justify-content: center;
    }
    
    span {
        color: #ffffff;
    }

    .welcomevid {
        width: 75%;
        position: relative;
        animation: welcomevid ease-in forwards;
        animation-timeline: view();
    }

    @keyframes welcomevid{
        0% {opacity: 0;scale:0;}
        25% {opacity: 1;scale: 0.25;}
        50% {opacity: 1;scale: 0.60;}
        75% {opacity: 1;scale:0.25;}
        100% {opacity: 0;scale: 0;}
    }

